body {
  font-family: Verdana, Helvetica, sans-serif; 
  font-size: 10pt;
/*  margin-left:2px; 
  margin-right:2px; */
  background:#FFFFFF none;
  color:#000000;
}

p {
  text-align: justify; 
}

h1 {
  font-size: 20pt; 
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 16pt; 
  font-weight: bold; 
  text-align: center;
}

h2.left {
  font-size: 16pt; 
  font-weight: bold; 
  text-align: left;
}

h3 {
  font-size: 14pt; 
  font-weight: bold; 
  text-align: center;
}

h4 {
  font-size: 12pt; 
  font-weight: bold; 
}

a:hover {  
  text-decoration: underline;
  color: #333333; 
}

a:link {
  text-decoration: none;
  color: #000099;
}

a {
  text-decoration: none;
  color: #000099;
}

a.strong-link {
  text-decoration: underline;
  color: #000099;
}

a.slide {
  text-decoration: none;
  font-weight: bold;
  color: #FF00FF;
}

a.slide:hover {  
  font-weight: italic;
  text-decoration: none;
  color: #00FF00; 
}

a.slideheading {
  font-size: 18pt; 
  text-decoration: none;
  color: #8080FF;
}

a.slideheading:hover {  
  font-size: 18pt; 
  text-decoration: none;
  color: #00FF00; 
}

a.slideheading3 {
  font-size: 14pt; 
  text-decoration: none;
  color: #8080FF;
}

a.slideheading3:hover {  
  font-size: 14pt; 
  text-decoration: none;
  color: #00FF00; 
}

a:link img.navigation {
  border: solid 0px transparent;
}

a:visited img.navigation {
  border: solid 0px transparent;
}

a:hover img.navigation {
  border: solid 0px transparent;
}

ul {
  font-size: 11pt;
  color: #111111;
}

ul.sub {
  font-size: 10pt;
  color: #222222;
}

.hint {
  text-align: center;
  font-weight: italic;
  font-size: 11pt; 
}

.mark {
  text-indent: 25px;
  font-weight: bold;
  font-size: 11pt; 
  color: #111111;
}

.description {
  text-indent: 25px;
}

.typewriter {
  font-family: Courier_New, Courier, serif; 
  font-weight: bold;
  font-size: 14pt; 
  color: #111111;
}

.tt {
  font-family: Courier New, Courier, serif;
  font-size:17pt;
  font-weight: bold; 
  color: #A0FFA0;
}

/* currently there is no need to distinguish between file and program name
   layout */
.file, .prgn {
  font-family: Courier New, Courier, serif;
  font-size:14pt;
/*  font-weight: bold; */
  color: #A0FFA0;
}

.package {
  font-family: Courier New, Courier, serif;
  font-size:16pt;
  font-weight: bold; 
  color: #A0FFA0;
}

.url {
  font-family: Courier New, Courier, serif;
  font-size:16pt;
  font-weight: bold; 
  color: #F0F000;
}

.var {
  font-family: Courier New, Courier, serif;
  font-size:14pt;
  font-style: italic;
  font-weight: light; 
  color: #A0FFA0;
}

pre {
  font-family: Courier New, Courier, serif;
  font-size:14pt;
  font-weight: bold; 
  color: #A0FFA0;
}

.pre {
  font-family: Courier New, Courier, serif;
  font-size:14pt;
  font-weight: bold; 
  color: #A0FFA0;
}

.pageno {
  text-align: right;
  font-weight: italic;
  font-size: 9pt; 
  color: #444444;
}

.title {
  text-align: center;
  font-size: 18pt; 
  font-weight: bold; 
}

.subtitle {
  text-align: center;
  font-size: 14pt; 
  font-weight: bold; 
}

.slide {
  padding-top:3px; 
  padding-bottom:3px;
  font-size:11pt;
  color: #FFFFFF;
  background-color: #000070;
}

.code {
  border-width:6px; 
  border-color:#9999FF; 
  border-style:groove; 
  padding:5px;
  text-align: justify; 
  color: #E0E000;
  background-color: #0000B0;
  font-size: 12pt;
}

.varcode {
  margin-left:17px;
  text-align: justify; 
  background-color: #0000B0;
  font-size: 14pt;
  font-family: Courier New, Courier, serif;
  font-style: italic;
  font-weight: light; 
  color: #A0FFA0;
}

.sub1 {
  color: #AAAAFF;
}

.sub2 {
  color: #AAAAFF;
}

.center {
  text-align: center;
}

table.center {
  font-size: 10pt;
  margin-left: auto;
  margin-right: auto;
}

table.papers {
  font-size: 14pt;
  caption-side:top;
  border:medium solid blue;
  border-spacing:10px;
  margin-left: auto;
  margin-right: auto;
  background-color:#FFFFCC;
}

table.overview {
  font-size: 12pt;
  caption-side:top;
  border:medium solid blue;
  border-spacing:10px;
  margin-left: auto;
  margin-right: auto;
  background-color:#EEF8FF;
}

tr.future {
  background-color:#CCFFCC;
}

th.datum, td.datum {
  width: 20px;
  vertical-align:top;
  text-align:left;
}

th.vortrag, td.vortrag {
  width: 450px;
  vertical-align:top;
  text-align:left;
}

th.konferenz, td.konferenz {
  width: 280px;
  vertical-align:top;
  text-align:left;
}

th.ort, td.ort {
  width: 100px;
  vertical-align:top;
  text-align:left;
}

th.lang, td.lang {
  width: 50px;
  vertical-align:top;
  text-align:left;
}

th.medium, td.medium {
  width: 80px;
  vertical-align:top;
  text-align:left;
}

a.medium {
  border-style:none; 
  padding:0px;
}

img.medium {
  border-style:none;
  padding:0px;
  margin-top:-4px;
  width:25px;
}

.small {
  font-size: 9pt;
}

.bold {
  font-weight: bold;
  color: #FFFF00;
}

.bold2 {
  font-weight: bold;
  color: #DDDD00;
}

.boldcenter {
  font-weight: bold;
  text-align: center;
  font-size: 17pt;
  line-height: 42px;
}

.defh {
  font-weight: bold;
  font-size: 12pt; 
}

.deft {
  font-size: 11pt;
  text-align: justify; 
  margin-left:17px; 
  margin-right:17px; 
}

.verybig {
  font-size: 24pt; 
  font-weight: bold; 
  text-align: center; 
  padding-top:42px; 
  padding-bottom:42px;
  line-height: 78px;
  color: #FFFFFF;
  background-color: #000070;
}

caption {
  font-size: 14pt; 
  font-weight: bold; 
  text-align: center;
}

td.navigation {
  width: 220px;
  vertical-align:top;
}

td.text { 
  font-size: 12pt;
  padding-left:17px;
  padding-right:17px;
  vertical-align:top;
}

td.download {
  text-align: left;
  font-weight: bold;
  font-size: 12pt; 
  color: #FFFFFF;
  background-color: #FFFFCC;
}

td.printversion {
  text-align: center;
  font-weight: normal;
  font-size: 9pt; 
}
