

p{
    text-align:center;
}

a{
		color:blue;
		text-decoration:none;
}

#image_links{
    clear: both;
    padding-left:7em;
    padding-right:7em;
}

#prev_link{
    position:absolute;
    top:50%;
    left:0.1em;
}

#next_link{
    position:absolute;
    top:50%;
    right:0.1em;
}

img {
    border:solid black 1px;
    margin:1em;
}

img.subgal {
    border: none;
}

div.subgal_link {
    float: left;
    padding: 1em;
    width: 40em;
}

div.subgal_image {
    float: left;
    width: 180px; /* This is based on thumbnail size */
}

div.subgal_image img {
    margin: 0;
}

#subgal_links li {
    margin: 0.5em;
}

#image_links p{
    text-align:justify;
}

#footer {
    clear: both;
}

#footer p {
    text-align:justify;
}

/*
 * vim: ts=4 sw=4 expandtab
 */
